<div class="ui massive red vertical secondary labeled icon pointing menu">

  <div class="active red item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big user icon"></i>
        Personal Data
      </div>
    </div>
  </div>

  <div class="item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big book icon"></i>
        Gradebook
      </div>
    </div>
  </div>

  <div class="item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big file alternate icon"></i>
        Official documents
      </div>
    </div>
  </div>

  <div class="item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big tasks icon"></i>
        Elective Courses
      </div>
    </div>
  </div>

  <div class="item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big futbol outline icon"></i>
        P.E Classes
      </div>
    </div>
  </div>

  <div class="item">
    <a class="ui tiny image">
    </a>
    <div class="left aligned content">
      <div class="header">
        <i class="big clockwise rotated money icon"></i>
        Scholarships
      </div>
    </div>
  </div>

</div>
