<div class="ui left vertical inverted sidebar labeled icon menu">
  <a class="item">
    <i class="huge home icon"></i>
    WEBDziekanat
  </a>
  <a class="item">
    <i class="huge envelope icon"></i>
    Email
  </a>
  <a class="item">
    <i class="huge university icon"></i>
    Wikamp
  </a>

  <a class="right item">
    <i class="huge help icon"></i>
    Help
  </a>

</div>
<div class="pusher">
  <div class="ui inverted red segment">
    <div class="ui centered stackable grid">
      <div class="center aligned column" (click)="expandMenu()">
        <i class="big white bars icon"></i>
      </div>
      <div class="twelve wide column">
        <h1 class="ui inverted center aligned massive header">WEBDziekanat</h1>
      </div>

      <div class="two wide computer center aligned column">
          <i class="fitted circular white user icon"></i> Login
      </div>
    </div>
  </div>
  <div class="ui centered grid">
    <div class="four wide column">
      <app-menu></app-menu>
    </div>
    <div class="eight wide column">
      <app-content></app-content>
    </div>
  </div>

</div>
